n8n_workflows/Multi-Agent Development System.json
{
  "name": "Multi-Agent Development System",
  "nodes": [
    {
      "parameters": {
        "path": "dev-task",
        "formTitle": "🚀 Создание задачи разработки",
        "formDescription": "Мультиагентная система: Architect → Code Writer → Code Reviewer → Documentation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Описание задачи",
              "fieldType": "textarea",
              "placeholder": "Добавить JWT-аутентификацию...",
              "requiredField": true
            },
            {
              "fieldLabel": "Владелец репозитория",
              "placeholder": "username",
              "defaultValue": "kaze-nomi",
              "requiredField": true
            },
            {
              "fieldLabel": "Название репозитория",
              "placeholder": "my-repo",
              "defaultValue": "MultiAgentIntelligentSystem",
              "requiredField": true
            },
            {
              "fieldLabel": "Основная ветка",
              "placeholder": "main",
              "defaultValue": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "59bb4484-fb83-4eb1-861e-ec4b5cb37678",
      "name": "📝 Task Input",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -4720,
        128
      ],
      "webhookId": "dev-task"
    },
    {
      "parameters": {
        "jsCode": "const form = $input.first().json;\n\nreturn [{\n  json: {\n    task_description: form['Описание задачи'],\n    repo_owner: form['Владелец репозитория'],\n    repo_name: form['Название репозитория'],\n    base_branch: form['Основная ветка'] || 'main'\n  }\n}];"
      },
      "id": "39c9e0e9-f342-44f1-b852-00178e87b7f7",
      "name": "📋 Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4496,
        256
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/git/trees/{{ $json.base_branch }}?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "timeout": 30000
        }
      },
      "id": "bdbb0072-fadb-4a54-89c7-934006239e61",
      "name": "📂 Get Repo Structure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4288,
        256
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const formData = $('📋 Prepare Data').first().json;\nconst treeResponse = $input.first().json;\n\n// Логируем входные данные для отладки\nconsole.log('Tree response keys:', Object.keys(treeResponse));\nconsole.log('Tree array length:', (treeResponse.tree || []).length);\nconsole.log('First 3 items:', JSON.stringify((treeResponse.tree || []).slice(0, 3), null, 2));\n\n// Парсим структуру репозитория\nconst structure = (treeResponse.tree || []).map(item => ({\n  path: item.path,\n  type: item.type === 'blob' ? 'file' : 'dir',\n  originalType: item.type,\n  size: item.size || 0,\n  sha: item.sha\n}));\n\n// РАСШИРЕННЫЕ паттерны для ключевых файлов\nconst keyPatterns = [\n  /^readme\\.md$/i,\n  /^changelog\\.md$/i,\n  /^contributing\\.md$/i,\n  /^package\\.json$/,\n  /^package-lock\\.json$/,\n  /^requirements\\.txt$/,\n  /^pyproject\\.toml$/,\n  /^setup\\.py$/,\n  /^setup\\.cfg$/,\n  /^poetry\\.lock$/,\n  /^Pipfile$/,\n  /^docker-compose\\.ya?ml$/,\n  /^Dockerfile$/i,\n  /^dockerfile$/i,\n  /^\\.env\\.example$/,\n  /^\\.env\\.sample$/,\n  /^tsconfig\\.json$/,\n  /^vite\\.config\\.(js|ts)$/,\n  /^webpack\\.config\\.js$/,\n  /^next\\.config\\.(js|mjs)$/,\n  /^nuxt\\.config\\.(js|ts)$/,\n  /^\\.eslintrc(\\.(js|json|yml))?$/,\n  /^\\.prettierrc(\\.(js|json|yml))?$/,\n  /^tailwind\\.config\\.(js|ts)$/,\n  /^cargo\\.toml$/i,\n  /^go\\.mod$/,\n  /^go\\.sum$/,\n  /^makefile$/i,\n  /^justfile$/i,\n  /^main\\.(py|js|ts|go|rs)$/,\n  /^index\\.(py|js|ts|tsx|jsx)$/,\n  /^app\\.(py|js|ts|tsx|jsx)$/,\n  /^server\\.(py|js|ts)$/,\n  /^run\\.(py|js|ts)$/,\n  /^cli\\.(py|js|ts)$/,\n  /\\.py$/,\n  /^src\\/.*\\.(js|jsx|ts|tsx)$/,\n  /^lib\\/.*\\.(js|jsx|ts|tsx)$/,\n  /^app\\/.*\\.(js|jsx|ts|tsx)$/,\n  /^pages\\/.*\\.(js|jsx|ts|tsx)$/,\n  /^components\\/.*\\.(js|jsx|ts|tsx)$/,\n  /^hooks\\/.*\\.(js|jsx|ts|tsx)$/,\n  /^utils\\/.*\\.(js|ts)$/,\n  /^helpers\\/.*\\.(js|ts)$/,\n  /^services\\/.*\\.(js|ts)$/,\n  /^api\\/.*\\.(js|ts)$/,\n  /^routes?\\/.*\\.(js|ts)$/,\n  /^controllers?\\/.*\\.(js|ts)$/,\n  /^middleware\\/.*\\.(js|ts)$/,\n  /^models?\\/.*\\.(js|ts)$/,\n  /^schemas?\\/.*\\.(js|ts)$/,\n  /^types?\\/.*\\.(ts|d\\.ts)$/,\n  /^store\\/.*\\.(js|ts)$/,\n  /^config\\/.*\\.(js|ts|json)$/,\n  /\\.go$/,\n  /\\.rs$/,\n  /\\.cpp$/,\n  /\\.cxx$/,\n  /\\.c$/,\n  /\\.java$/,\n  /build\\.gradle\\.kts$/,\n  /pom\\.xml$/,\n  /config\\/.*\\.(json|ya?ml|toml)$/,\n  /\\.github\\/workflows\\/.*\\.ya?ml$/\n];\n\n// Паттерны для ИСКЛЮЧЕНИЯ\nconst excludePatterns = [\n  /node_modules\\//,\n  /\\.git\\//,\n  /dist\\//,\n  /build\\//,\n  /\\.next\\//,\n  /\\.nuxt\\//,\n  /out\\//,\n  /__pycache__\\//,\n  /\\.pytest_cache\\//,\n  /\\.mypy_cache\\//,\n  /\\.ruff_cache\\//,\n  /\\.venv\\//,\n  /venv\\//,\n  /\\.env\\//,\n  /env\\//,\n  /virtualenv\\//,\n  /\\.tox\\//,\n  /\\.eggs\\//,\n  /\\.egg-info\\//,\n  /htmlcov\\//,\n  /coverage\\//,\n  /\\.coverage/,\n  /\\.cache\\//,\n  /\\.temp\\//,\n  /\\.tmp\\//,\n  /target\\//,\n  /vendor\\//,\n  /\\.idea\\//,\n  /\\.vscode\\//,\n  /\\.DS_Store/,\n  /Thumbs\\.db/,\n  /\\.log$/,\n  /\\.min\\.(js|css)$/,\n  /\\.map$/,\n  /\\.bundle\\.(js|css)$/,\n  /test_.*\\.py$/,\n  /.*_test\\.py$/,\n  /.*\\.test\\.(js|ts|jsx|tsx)$/,\n  /.*\\.spec\\.(js|ts|jsx|tsx)$/,\n  /__tests__\\//,\n  /tests?\\//\n];\n\n// Приоритетные файлы\nconst priorityPatterns = [\n  /^readme\\.md$/i,\n  /^package\\.json$/,\n  /^requirements\\.txt$/,\n  /^pyproject\\.toml$/,\n  /^main\\.(py|js|ts)$/,\n  /^index\\.(py|js|ts)$/,\n  /^app\\.(py|js|ts)$/,\n  /^server\\.(py|js|ts)$/,\n  /models?\\.py$/,\n  /schema\\.py$/\n];\n\nconst allFiles = structure.filter(item => {\n  if (item.type !== 'file') return false;\n  if (item.size > 100000) return false;\n  const isExcluded = excludePatterns.some(p => p.test(item.path));\n  if (isExcluded) return false;\n  const matchesKey = keyPatterns.some(p => p.test(item.path));\n  return matchesKey;\n});\n\nconst sortedFiles = allFiles.sort((a, b) => {\n  const aPriority = priorityPatterns.some(p => p.test(a.path)) ? 0 : 1;\n  const bPriority = priorityPatterns.some(p => p.test(b.path)) ? 0 : 1;\n  if (aPriority !== bPriority) return aPriority - bPriority;\n  return a.size - b.size;\n});\n\nconst filesToFetch = sortedFiles.slice(0, 50);\n\n// Сохраняем SHA для ВСЕХ файлов\nconst existingFileShas = {};\nstructure.forEach(item => {\n  if (item.type === 'file') {\n    existingFileShas[item.path] = item.sha;\n  }\n});\n\nconsole.log('=== FINAL STATS ===');\nconsole.log(`Total items in structure: ${structure.length}`);\nconsole.log(`Total files: ${structure.filter(i => i.type === 'file').length}`);\nconsole.log(`Files matching patterns: ${allFiles.length}`);\nconsole.log(`Files to fetch: ${filesToFetch.length}`);\n\nreturn [{\n  json: {\n    ...formData,\n    structure: structure,\n    files_to_fetch: filesToFetch,\n    existing_file_shas: existingFileShas,\n    stats: {\n      total_files: structure.filter(i => i.type === 'file').length,\n      matching_files: allFiles.length,\n      files_to_fetch: filesToFetch.length\n    }\n  }\n}];"
      },
      "id": "ff5eaf31-b7bc-4822-8419-5fd077e75c42",
      "name": "🔍 Analyze Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst filesToFetch = data.files_to_fetch || [];\n\nif (filesToFetch.length === 0) {\n  return [{ json: { ...data, skip_fetch: true } }];\n}\n\nreturn filesToFetch.map(file => ({\n  json: { ...data, file_path: file.path, file_sha: file.sha }\n}));"
      },
      "id": "8c815f38-6357-4565-a54d-04152e48a1dd",
      "name": "📄 Split Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/contents/{{ $json.file_path }}?ref={{ $json.base_branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "timeout": 20000
        }
      },
      "id": "13ad326e-4ffc-4416-b3ff-7fd2c277b527",
      "name": "📥 Fetch Contents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3616,
        128
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst firstItem = $('🔍 Analyze Structure').first().json;\n\nconst keyFiles = {};\nlet loaded = 0, failed = 0;\n\nitems.forEach(item => {\n  if (item.json.skip_fetch) return;\n  try {\n    const content = item.json.content;\n    const path = item.json.path || item.json.name;\n    if (content && path) {\n      keyFiles[path] = Buffer.from(content, 'base64').toString('utf-8');\n      loaded++;\n    }\n  } catch (e) { failed++; }\n});\n\nreturn [{\n  json: {\n    task_description: firstItem.task_description,\n    repo_owner: firstItem.repo_owner,\n    repo_name: firstItem.repo_name,\n    base_branch: firstItem.base_branch,\n    existing_file_shas: firstItem.existing_file_shas,\n    repo_context: { structure: firstItem.structure, key_files: keyFiles },\n    files_loaded: loaded\n  }\n}];"
      },
      "id": "007f2538-bc30-490d-85f4-fcea38bf93f2",
      "name": "📦 Aggregate Contents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3408,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://project-manager:8000/workflow/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_description: $json.task_description, repo_owner: $json.repo_owner, repo_name: $json.repo_name, base_branch: $json.base_branch, repo_context: $json.repo_context, priority: 'high', max_review_iterations: 3 }) }}",
        "options": {
          "timeout": 10000000
        }
      },
      "id": "0c996e90-6a06-4a84-84a1-1a523e750617",
      "name": "🤖 Call Project Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3184,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const aggregateData = $('📦 Aggregate Contents').first().json;\nconst pmResponse = $input.first().json;\n\nif (pmResponse.status === 'failed') {\n  const errors = pmResponse.errors || [];\n  const agentResults = pmResponse.agent_results || {};\n  \n  let errorDetails = 'Pipeline failed:\\n';\n  \n  if (agentResults.code_writer) {\n    const cw = agentResults.code_writer;\n    if (!cw.files || cw.files.length === 0) {\n      errorDetails += '❌ Code Writer: No files generated\\n';\n      if (cw.implementation_notes) {\n        errorDetails += `   Notes: ${cw.implementation_notes.join(', ')}\\n`;\n      }\n    }\n  }\n  \n  errors.forEach(e => {\n    errorDetails += `❌ ${e.step}: ${e.error}\\n`;\n  });\n}\n\nconst files = pmResponse.files_to_create || [];\nif (files.length === 0) {\n  $input.first().json.status = 'failed';\n}\n\nreturn [{\n  json: {\n    ...pmResponse,\n    repo_owner: aggregateData.repo_owner,\n    repo_name: aggregateData.repo_name,\n    base_branch: aggregateData.base_branch,\n    existing_file_shas: aggregateData.existing_file_shas\n  }\n}];"
      },
      "id": "92c5af96-3b3a-42cf-ae74-735d35095ce1",
      "name": "✅ Check PM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "2c921d36-eed4-45a6-8451-1939794200a1"
            },
            {
              "id": "2d422828-3a90-4be4-83b0-04d98231e755",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true,
          "looseTypeValidation": true
        }
      },
      "id": "81efa7a0-c3fc-43c1-88e9-be4e737948bd",
      "name": "🔀 Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2768,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/git/refs/heads/{{ $json.base_branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "9d788440-7434-4d10-ac02-48bddcee20be",
      "name": "🔗 Get Base SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2496,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pmData = $('✅ Check PM Response').first().json;\nconst shaResponse = $input.first().json;\n\nreturn [{ json: { ...pmData, base_sha: shaResponse.object.sha } }];"
      },
      "id": "1ada7048-fffd-4081-8466-62eedb6e97c8",
      "name": "Extract SHA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/git/refs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ref: 'refs/heads/' + $json.branch_name, sha: $json.base_sha }) }}",
        "options": {}
      },
      "id": "9276df3c-fc70-458c-a339-2e0c3ebaf2a4",
      "name": "🌿 Create Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2064,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 🔧 ИНИЦИАЛИЗАЦИЯ RETRY LOOP\n// =====================================================\nconst data = $('Extract SHA').first().json;\nconst files = data.files_to_create || [];\nconst existingShas = data.existing_file_shas || {};\n\nif (files.length === 0) {\n  throw new Error('No files to create!');\n}\n\n// Инициализируем структуру для retry\nconst filesToProcess = files.map((file, index) => {\n  const existingSha = existingShas[file.path];\n  return {\n    path: file.path,\n    content: file.content || '',\n    action: file.action || 'create',\n    source_agent: file.source_agent || 'unknown',\n    existing_sha: existingSha || null,\n    status: 'pending',  // pending, success, failed\n    attempts: 0,\n    last_error: null\n  };\n});\n\nreturn [{\n  json: {\n    repo_owner: data.repo_owner,\n    repo_name: data.repo_name,\n    branch_name: data.branch_name,\n    base_branch: data.base_branch,\n    commit_message: data.commit_message,\n    pr_title: data.pr_title,\n    pr_description: data.pr_description,\n    summary: data.summary,\n    task_id: data.task_id,\n    tech_stack: data.tech_stack,\n    review_iterations: data.review_iterations,\n    agent_results: data.agent_results,\n    // Retry state\n    files_to_process: filesToProcess,\n    created_files: [],  // Успешно созданные\n    failed_files: [],   // Окончательно failed\n    current_attempt: 1,\n    max_attempts: 3\n  }\n}];"
      },
      "id": "ba761a85-7edf-48c0-bece-28f9316f4a53",
      "name": "🔄 Init Retry Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 📄 SPLIT: Получаем pending файлы для обработки\n// =====================================================\nconst data = $input.first().json;\nconst pendingFiles = data.files_to_process.filter(f => f.status === 'pending');\n\nconsole.log(`Attempt ${data.current_attempt}/${data.max_attempts}: ${pendingFiles.length} files to process`);\n\nif (pendingFiles.length === 0) {\n  // Все файлы обработаны - идём дальше\n  return [{ json: { ...data, all_processed: true } }];\n}\n\n// Разбиваем на отдельные items для параллельной обработки\nreturn pendingFiles.map(file => ({\n  json: {\n    ...data,\n    current_file: file,\n    all_processed: false\n  }\n}));"
      },
      "id": "48a31a18-a582-40d1-917a-5c74dcb0118a",
      "name": "📄 Split Pending Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-all-processed",
              "leftValue": "={{ $json.all_processed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77bd6619-f1f2-4692-ae9f-a1669c807440",
      "name": "🔀 All Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1424,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/contents/{{ $json.current_file.path }}?ref={{ $json.branch_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "16bbfb1c-92e7-4752-b8b9-f81fe9708359",
      "name": "🔍 Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        112
      ],
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// =====================================================\n// 📝 PREPARE: Подготавливаем данные для PUT\n// Обрабатываем КАЖДЫЙ item отдельно!\n// =====================================================\n\nconst item = $('📄 Split Pending Files').item;\nlet file = $json;\nconst data = item.json;\n  \n// Определяем SHA файла\nlet fileSha = null;\n// Проверяем, вернул ли GitHub SHA (файл уже существует на ветке)\nif (file.sha) {\n  fileSha = file.sha;\n  console.log(`File exists on branch: ${file.path}, SHA: ${fileSha}`);\n}\n// Новый файл\nelse {\n  console.log(`New file: ${file.path}`);\n}\n\n// Кодируем контент в base64\nconst contentBase64 = Buffer.from(data.current_file.content || '').toString('base64');\n\n// Возвращаем item с подготовленными данными\nlet result = ({\n  json: {\n    // Пробрасываем все контекстные данные\n    repo_owner: data.repo_owner,\n    repo_name: data.repo_name,\n    branch_name: data.branch_name,\n    base_branch: data.base_branch,\n    commit_message: data.commit_message,\n    pr_title: data.pr_title,\n    pr_description: data.pr_description,\n    summary: data.summary,\n    task_id: data.task_id,\n    tech_stack: data.tech_stack,\n    review_iterations: data.review_iterations,\n    agent_results: data.agent_results,\n    files_to_process: data.files_to_process,\n    created_files: data.created_files,\n    failed_files: data.failed_files,\n    current_attempt: data.current_attempt,\n    max_attempts: data.max_attempts,\n    \n    // Текущий файл с resolved SHA\n    current_file: {\n      ...file,\n      resolved_sha: fileSha\n    },\n    \n    // Данные для PUT запроса\n    file_path: data.current_file.path,\n    file_content_base64: contentBase64,\n    file_sha: fileSha\n}});\n\nreturn result;"
      },
      "id": "7a60b43a-03ee-41f5-9dde-96c391c778e5",
      "name": "📝 Prepare PUT Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        112
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/contents/{{ $json.file_path}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const body = {\n    message: $json.commit_message + ' [' + $json.file_path.split('/').pop() + ']',\n    content: $json.file_content_base64,\n    branch: $json.branch_name\n  };\n  if ($json.file_sha) {\n    body.sha = $json.file_sha;\n  }\n  return JSON.stringify(body);\n})() }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "timeout": 30000
        }
      },
      "id": "f1b54890-f421-4e20-8f30-dda386aa88ff",
      "name": "💾 Create/Update File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -704,
        112
      ],
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 📊 PROCESS RESULT: Обрабатываем результат PUT\n// =====================================================\nconst items = $input.all();\nconst firstData = $('📄 Split Pending Files').first().json;\n\n// Собираем результаты\nconst results = items.map(item => {\n  const data = item.json;\n  const path = data?.content?.path || null;\n  \n  \n  // Проверяем успех\n  if (data.content && data.commit) {\n    return { path, status: 'success', sha: data.content.sha };\n  } else {\n    const error = data.message || data.error || 'Unknown error';\n    return { path, status: 'failed', error };\n  }\n});\n\nconsole.log(results);\n\n// Обновляем состояние файлов\nconst updatedFiles = firstData.files_to_process.map(f => {\n  if (f.status != 'success') {\n    const result = results.find(r => r.path === f.path);\n    if (result) {\n      if (result.status === 'success') {\n        return { ...f, status: 'success', new_sha: result.sha };\n      }\n    } else {\n      return {\n        ...f,\n        attempts: f.attempts + 1,\n        status: f.attempts + 1 >= firstData.max_attempts ? 'failed' : 'pending'    \n      }\n    }\n  } else {\n    return {\n      ...f\n    }\n  }\n});\n\n// Подсчитываем статистику\nconst successCount = updatedFiles.filter(f => f.status === 'success').length;\nconst pendingCount = updatedFiles.filter(f => f.status === 'pending').length;\nconst failedCount = updatedFiles.filter(f => f.status === 'failed').length;\n\nconsole.log(`After attempt ${firstData.current_attempt}: success=${successCount}, pending=${pendingCount}, failed=${failedCount}`);\n\n// Если есть pending файлы и не превысили лимит попыток - продолжаем\nconst needRetry = pendingCount > 0 && firstData.current_attempt < firstData.max_attempts;\n\nreturn [{\n  json: {\n    repo_owner: firstData.repo_owner,\n    repo_name: firstData.repo_name,\n    branch_name: firstData.branch_name,\n    base_branch: firstData.base_branch,\n    commit_message: firstData.commit_message,\n    pr_title: firstData.pr_title,\n    pr_description: firstData.pr_description,\n    summary: firstData.summary,\n    task_id: firstData.task_id,\n    tech_stack: firstData.tech_stack,\n    review_iterations: firstData.review_iterations,\n    agent_results: firstData.agent_results,\n    files_to_process: updatedFiles,\n    current_attempt: firstData.current_attempt + 1,\n    max_attempts: firstData.max_attempts,\n    // Статистика\n    success_count: successCount,\n    pending_count: pendingCount,\n    failed_count: failedCount,\n    need_retry: needRetry,\n    all_done: !needRetry\n  }\n}];"
      },
      "id": "150ec1bd-bd3e-490a-ba92-c45be96dde87",
      "name": "📊 Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "need-retry",
              "leftValue": "={{ $json.need_retry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adc8bf31-0d78-41b8-8b7c-5c41e69cf0d7",
      "name": "🔀 Need Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// ⏳ WAIT: Небольшая задержка перед retry\n// =====================================================\nconst data = $input.first().json;\n\nconsole.log(`Waiting before retry attempt ${data.current_attempt}...`);\n\n// Просто пробрасываем данные дальше\nreturn [{ json: data }];"
      },
      "id": "76d27eed-9833-4173-81a3-a5fa9c443181",
      "name": "⏳ Wait & Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// ✅ FINALIZE: Финальная проверка результатов\n// =====================================================\nconst data = $input.first().json;\nconst files = data.files_to_process || [];\n\nconst successFiles = files.filter(f => f.status === 'success');\nconst failedFiles = files.filter(f => f.status === 'failed');\n\nconsole.log(`Final: ${successFiles.length} success, ${failedFiles.length} failed`);\n\n// Если есть failed файлы - это ошибка\nconst hasErrors = failedFiles.length > 0;\n\nreturn [{\n  json: {\n    ...data,\n    files_created: successFiles.length,\n    files_failed: failedFiles.length,\n    success_files: successFiles.map(f => f.path),\n    failed_files_details: failedFiles.map(f => ({\n      path: f.path,\n      error: f.last_error,\n      attempts: f.attempts\n    })),\n    has_errors: hasErrors,\n    can_create_pr: successFiles.length > 0  // PR можно создать если хоть что-то создалось\n  }\n}];"
      },
      "id": "6691c9b4-ec7d-4472-a607-a8a83da14459",
      "name": "✅ Finalize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "can-pr",
              "leftValue": "={{ $json.can_create_pr }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0cfec94-3b44-4bab-a7a6-c7c48ec4ac4d",
      "name": "🔀 Can Create PR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/pulls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.pr_title, head: $json.branch_name, base: $json.base_branch, body: $json.pr_description }) }}",
        "options": {}
      },
      "id": "89d25cac-f6d9-4bbd-9f17-67f145dc6c08",
      "name": "🔀 Create PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -128
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('✅ Finalize Results').first().json;\nconst pr = $input.first().json;\n\nlet msg = `${data.summary}\\n\\n`;\n\nmsg += `\\n🔗 [Pull Request #${pr.number}](${pr.html_url})`;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "bb4aaaaa-e415-48d2-8182-c38eb34ed8f3",
      "name": "📱 Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet msg = `❌ *Ошибка создания файлов*\\n\\n`;\nmsg += `Не удалось создать ни одного файла после ${data.max_attempts} попыток.\\n\\n`;\n\nmsg += `📁 *Проблемные файлы:*\\n`;\ndata.failed_files_details.forEach(f => {\n  msg += `• \\`${f.path}\\`\\n`;\n  msg += `  Ошибка: ${f.error}\\n`;\n  msg += `  Попыток: ${f.attempts}\\n\\n`;\n});\n\nmsg += `\\n💡 *Возможные причины:*\\n`;\nmsg += `• Файл заблокирован\\n`;\nmsg += `• Проблемы с правами доступа\\n`;\nmsg += `• Rate limit GitHub API\\n`;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "2379f190-099e-469b-b4fd-c049a143017d",
      "name": "📱 Total Failure Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        128
      ]
    },
    {
      "parameters": {
        "chatId": "=6487984216",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "472299ef-f78c-43a2-8b56-e243caa2fb6b",
      "name": "📤 Send Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -128
      ],
      "webhookId": "482d72a6-9720-44e2-a67f-b1bbd47b3c28",
      "credentials": {
        "telegramApi": {
          "id": "kakDfZD7GZ0uQLva",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6487984216",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "c492e3b3-76ad-46fc-81d1-4e3df51c21ce",
      "name": "📤 Send Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        128
      ],
      "webhookId": "4568e073-12f9-47c2-87c3-1391871d6192",
      "credentials": {
        "telegramApi": {
          "id": "kakDfZD7GZ0uQLva",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('✅ Check PM Response').first().json;\n\nlet msg = `❌ *Pipeline Failed*\\n\\n`;\nmsg += `${data.summary || 'No summary available'}\\n\\n`;\n\nif (data.errors) {\n  msg += `*Ошибки:*\\n`;\n  data.errors.forEach(e => {\n    msg += `• ${e.step}: ${e.error}\\n`;\n  });\n}\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "3a8dc332-cf88-4f5e-81f0-2ba6822ed9ca",
      "name": "📱 PM Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "=6487984216",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b26c799f-e553-4fd0-b840-084d661358f6",
      "name": "📤 Send PM Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2288,
        256
      ],
      "webhookId": "78218e0c-a817-4c73-8001-40d02bbf6cf0",
      "credentials": {
        "telegramApi": {
          "id": "kakDfZD7GZ0uQLva",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8b94ded7-ecae-4a6d-b270-d57321adbe88",
      "name": "✅ End Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        -128
      ]
    },
    {
      "parameters": {},
      "id": "594fd35b-89b8-453f-84c2-74f36e48e084",
      "name": "❌ End Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.message || $input.first().json.edited_message;\n\n// Проверяем, что есть сообщение\nif (!message || !message.text) {\n  throw new Error(\"Сообщение не содержит текста!\");\n}\n\nconst text = message.text.trim();\nconst chatId = message.chat.id;\n\n// Проверяем, что сообщение начинается с /task\nif (!text.startsWith('/task')) {\n  throw new Error(`Команда должна начинаться с /task\\nПримеры:\\n/task исправить баг\\n/task myrepo: добавить новую функцию`);\n}\n\n// Убираем команду /task и возможное имя бота (/task@botname)\nlet commandText = text.replace(/^\\/task(@\\w+)?\\s*/i, '');\n\n// Если после команды ничего нет\nif (!commandText.trim()) {\n  throw new Error(\"Пожалуйста, укажите задачу после команды /task\\nПример: /task исправить баг в логике\");\n}\n\nlet repo_name, task_description;\n\n// Парсим: проверяем формат \"репозиторий: описание задачи\"\nif (commandText.includes(':')) {\n  // Находим первое двоеточие\n  const colonIndex = commandText.indexOf(':');\n  \n  // Часть до двоеточия - название репозитория\n  repo_name = commandText.substring(0, colonIndex).trim();\n  \n  // Часть после двоеточия - описание задачи\n  task_description = commandText.substring(colonIndex + 1).trim();\n  \n  // Проверяем, что репозиторий не пустой\n  if (!repo_name) {\n    repo_name = 'MultiAgentIntelligentSystem';\n  }\n} else {\n  // Если двоеточия нет - используем дефолтный репозиторий\n  repo_name = 'MultiAgentIntelligentSystem';\n  task_description = commandText.trim();\n}\n\n// Проверяем, что описание задачи не пустое\nif (!task_description) {\n  throw new Error(\"Описание задачи не может быть пустым!\\nПример: /task исправить баг в обработке ошибок\");\n}\n\n// Очищаем название репозитория от лишних символов, но сохраняем пробелы в описании\nrepo_name = repo_name.replace(/[^\\w\\-\\.]/g, '');\n\nreturn [{\n  json: {\n    task_description: task_description,\n    repo_owner: 'kaze-nomi',\n    repo_name: repo_name,\n    base_branch: 'main',\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4720,
        384
      ],
      "id": "98f96c43-7835-400b-9410-500f17e73234",
      "name": "📱 Parse Telegram Message",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "6487984216",
        "text": "=Ошибка:\n\n{{ $json }}",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4496,
        512
      ],
      "id": "69f5fba3-334d-4c14-a506-bdbecc474500",
      "name": "📤 Send Parsing Error",
      "webhookId": "69b3135d-f2a2-4377-89bc-f94e6ecc34a6",
      "credentials": {
        "telegramApi": {
          "id": "kakDfZD7GZ0uQLva",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6487984216",
        "text": "={{ $input.first().json }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4064,
        384
      ],
      "id": "5ba86223-8342-4019-a622-350284ef72d5",
      "name": "📤 Send GitHub error",
      "webhookId": "69b3135d-f2a2-4377-89bc-f94e6ecc34a6",
      "credentials": {
        "telegramApi": {
          "id": "kakDfZD7GZ0uQLva",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "6487984216"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4944,
        384
      ],
      "id": "37b378e6-22ae-4152-b703-47db850873ff",
      "name": "🚀 Telegram Trigger",
      "webhookId": "9cb6dd03-4e32-4275-83f9-a96c38719a44",
      "credentials": {
        "telegramApi": {
          "id": "kakDfZD7GZ0uQLva",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "99d98018-34f9-48d7-988e-6f6b856a2273",
      "name": "❌ End PM Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2064,
        256
      ]
    },
    {
      "parameters": {},
      "id": "54f4ad66-6046-40d5-997a-af53404b20b4",
      "name": "❌ End GitHub Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3840,
        384
      ]
    },
    {
      "parameters": {},
      "id": "ada68389-5fb4-466f-947e-69956b368a14",
      "name": "❌ Telegram Input Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4288,
        512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "📝 Task Input": {
      "main": [
        [
          {
            "node": "📋 Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Prepare Data": {
      "main": [
        [
          {
            "node": "📂 Get Repo Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📂 Get Repo Structure": {
      "main": [
        [
          {
            "node": "🔍 Analyze Structure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Send GitHub error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Analyze Structure": {
      "main": [
        [
          {
            "node": "📄 Split Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Split Files": {
      "main": [
        [
          {
            "node": "📥 Fetch Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch Contents": {
      "main": [
        [
          {
            "node": "📦 Aggregate Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Aggregate Contents": {
      "main": [
        [
          {
            "node": "🤖 Call Project Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Call Project Manager": {
      "main": [
        [
          {
            "node": "✅ Check PM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check PM Response": {
      "main": [
        [
          {
            "node": "🔀 Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Is Success?": {
      "main": [
        [
          {
            "node": "🔗 Get Base SHA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📱 PM Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Get Base SHA": {
      "main": [
        [
          {
            "node": "Extract SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SHA": {
      "main": [
        [
          {
            "node": "🌿 Create Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌿 Create Branch": {
      "main": [
        [
          {
            "node": "🔄 Init Retry Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Init Retry Loop": {
      "main": [
        [
          {
            "node": "📄 Split Pending Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Split Pending Files": {
      "main": [
        [
          {
            "node": "🔀 All Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 All Processed?": {
      "main": [
        [
          {
            "node": "✅ Finalize Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Get File SHA": {
      "main": [
        [
          {
            "node": "📝 Prepare PUT Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Prepare PUT Data": {
      "main": [
        [
          {
            "node": "💾 Create/Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Create/Update File": {
      "main": [
        [
          {
            "node": "📊 Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Process Results": {
      "main": [
        [
          {
            "node": "🔀 Need Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Need Retry?": {
      "main": [
        [
          {
            "node": "⏳ Wait & Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "✅ Finalize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait & Retry": {
      "main": [
        [
          {
            "node": "📄 Split Pending Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Finalize Results": {
      "main": [
        [
          {
            "node": "🔀 Can Create PR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Can Create PR?": {
      "main": [
        [
          {
            "node": "🔀 Create PR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📱 Total Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Create PR": {
      "main": [
        [
          {
            "node": "📱 Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Success Message": {
      "main": [
        [
          {
            "node": "📤 Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Total Failure Message": {
      "main": [
        [
          {
            "node": "📤 Send Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send Success": {
      "main": [
        [
          {
            "node": "✅ End Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send Failure": {
      "main": [
        [
          {
            "node": "❌ End Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 PM Error Message": {
      "main": [
        [
          {
            "node": "📤 Send PM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send PM Error": {
      "main": [
        [
          {
            "node": "❌ End PM Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Parse Telegram Message": {
      "main": [
        [
          {
            "node": "📋 Prepare Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Send Parsing Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Telegram Trigger": {
      "main": [
        [
          {
            "node": "📱 Parse Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send GitHub error": {
      "main": [
        [
          {
            "node": "❌ End GitHub Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Send Parsing Error": {
      "main": [
        [
          {
            "node": "❌ Telegram Input Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c34af814-6bd6-4955-8905-6a48b34fefc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28f87a46502090a63d81c1b0d194b30cb85aa507eb30004f35c39d5a49ec1f61"
  },
  "id": "q5zbLyvM2G174cvL",
  "tags": []
}