n8n_workflows/PR Review System.json
{
  "name": "PR Review System",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\n\n// Проверяем что это PR в main ветку\nif (webhookData.action !== 'opened' && webhookData.action !== 'synchronize') {\n  return [{ json: { skip: true, reason: 'Not a PR open/sync event' } }];\n}\n\nconst pr = webhookData.pull_request;\nif (!pr || pr.base.ref !== 'main') {\n  return [{ json: { skip: true, reason: 'Not targeting main branch' } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    pr_number: pr.number,\n    pr_title: pr.title,\n    pr_description: pr.body || '',\n    pr_url: pr.html_url,\n    head_sha: pr.head.sha,\n    base_sha: pr.base.sha,\n    repo_owner: webhookData.repository.owner.login,\n    repo_name: webhookData.repository.name,\n    head_branch: pr.head.ref,\n    base_branch: pr.base.ref\n  }\n}];"
      },
      "id": "28d89bdf-d18d-41af-9e4e-4ddbdc04729c",
      "name": "📋 Parse PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}"
            }
          ]
        }
      },
      "id": "1508ea8f-38a7-4edc-9c10-c6fab06be916",
      "name": "🔀 Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/pulls/{{ $json.pr_number }}/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "timeout": 30000
        }
      },
      "id": "5defc7d7-46f5-49cf-bfc1-b97236b22cb7",
      "name": "📄 Get Changed Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prData = $('📋 Parse PR Data').first().json;\nconst filesResponse = $input.first().json;\n\n// Проверяем что filesResponse это массив\nconst files = Array.isArray(filesResponse) ? filesResponse : [];\n\n// Фильтруем файлы - исключаем слишком большие и бинарные\nconst changedFiles = files.filter(file => {\n  // Пропускаем файлы > 100KB\n  if (file.size > 100000) return false;\n  \n  // Пропускаем бинарные файлы\n  if (file.patch && file.patch.includes('Binary files')) return false;\n  \n  // Пропускаем некоторые расширения\n  const skipExtensions = ['.png', '.jpg', '.jpeg', '.gif', '.pdf', '.zip', '.tar.gz', '.ico', '.svg', '.woff', '.woff2', '.ttf', '.eot'];\n  const ext = file.filename.toLowerCase().substring(file.filename.lastIndexOf('.'));\n  if (skipExtensions.includes(ext)) return false;\n  \n  return true;\n}).slice(0, 20); // Максимум 20 файлов\n\nreturn [{\n  json: {\n    ...prData,\n    changed_files: changedFiles,\n    files_count: changedFiles.length\n  }\n}];"
      },
      "id": "056a08e2-2f7b-4c56-900a-e4031f60c7ec",
      "name": "🔍 Filter Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst files = data.changed_files || [];\n\nif (files.length === 0) {\n  return [{ json: { ...data, skip_content_fetch: true, file_contents: {} } }];\n}\n\n// Разбиваем на отдельные items для параллельной обработки\nreturn files.map(file => ({\n  json: {\n    ...data,\n    current_file: file\n  }\n}));"
      },
      "id": "1fd6f8fa-93a9-4c50-b61e-1980dd6a5584",
      "name": "📄 Split Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo_owner }}/{{ $json.repo_name }}/contents/{{ encodeURIComponent($json.current_file.filename) }}?ref={{ $json.head_sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "timeout": 20000
        }
      },
      "id": "a586485d-cb1a-4e55-bd51-1fe4ca9fee7d",
      "name": "📥 Fetch File Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        0
      ],
      "retryOnFail": true,
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst firstItem = $('🔍 Filter Files').first().json;\n\n// Проверяем на skip\nif (firstItem.skip_content_fetch) {\n  return [{\n    json: {\n      ...firstItem,\n      file_contents: {},\n      files_loaded: 0,\n      files_failed: 0\n    }\n  }];\n}\n\nconst fileContents = {};\nlet loaded = 0, failed = 0;\n\nfor (const item of items) {\n  try {\n    const content = item.json.content;\n    const filename = item.json.current_file?.filename;\n    \n    if (content && filename) {\n      // Декодируем base64\n      fileContents[filename] = Buffer.from(content, 'base64').toString('utf-8');\n      loaded++;\n    } else if (filename) {\n      // Файл не загрузился, но есть patch\n      const patch = item.json.current_file?.patch || '';\n      if (patch) {\n        fileContents[filename] = `// Content from patch:\\n${patch}`;\n        loaded++;\n      } else {\n        failed++;\n      }\n    }\n  } catch (e) {\n    failed++;\n  }\n}\n\nreturn [{\n  json: {\n    ...firstItem,\n    file_contents: fileContents,\n    files_loaded: loaded,\n    files_failed: failed\n  }\n}];"
      },
      "id": "440172b2-b8c4-4438-a3c5-2383b79edcda",
      "name": "📦 Aggregate Contents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://project-manager:8000/review/pr",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pr_number\": {{ $json.pr_number }},\n  \"pr_title\": {{ JSON.stringify($json.pr_title) }},\n  \"pr_description\": {{ JSON.stringify($json.pr_description || '') }},\n  \"pr_url\": {{ JSON.stringify($json.pr_url) }},\n  \"repo_owner\": {{ JSON.stringify($json.repo_owner) }},\n  \"repo_name\": {{ JSON.stringify($json.repo_name) }},\n  \"changed_files\": {{ JSON.stringify($json.changed_files || []) }},\n  \"file_contents\": {{ JSON.stringify($json.file_contents || {}) }},\n  \"head_branch\": {{ JSON.stringify($json.head_branch) }},\n  \"base_branch\": {{ JSON.stringify($json.base_branch) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "0ba7b33f-7b3c-407f-a1f6-5c070c2b8c91",
      "name": "🤖 Call Project Manager Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Данные из ответа Project Manager\nconst prNumber = response.pr_number;\nconst prTitle = response.pr_title;\nconst prUrl = response.pr_url;\nconst approved = response.approved;\nconst reviewBody = response.review_body;\nconst qualityScore = response.quality_score;\nconst filesReviewed = response.files_reviewed;\n\n// Определяем event для GitHub Review API\n// APPROVE, REQUEST_CHANGES, или COMMENT\nlet reviewEvent = 'COMMENT';\nif (approved) {\n  reviewEvent = 'APPROVE';\n} else if (qualityScore < 5) {\n  reviewEvent = 'REQUEST_CHANGES';\n}\n\nreturn [{\n  json: {\n    pr_number: prNumber,\n    pr_title: prTitle,\n    pr_url: prUrl,\n    approved: approved,\n    review_event: reviewEvent,\n    review_body: reviewBody,\n    quality_score: qualityScore,\n    files_reviewed: filesReviewed,\n    // Для обратной совместимости\n    message: reviewBody\n  }\n}];"
      },
      "id": "0ca97be0-a113-44e4-8c79-155ef5f64757",
      "name": "📱 Format Review Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('📋 Parse PR Data').first().json.repo_owner }}/{{ $('📋 Parse PR Data').first().json.repo_name }}/pulls/{{ $json.pr_number }}/reviews",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {{ JSON.stringify($json.review_body) }},\n  \"event\": {{ JSON.stringify($json.review_event) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "0b765c61-f3f1-401d-9b3d-2db5d9d88346",
      "name": "📝 Create GitHub Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "id": "fbfdb37a-18cc-4340-99f9-408904c73429",
      "name": "✅ End Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1632,
        0
      ]
    },
    {
      "parameters": {},
      "id": "ed4854c7-bfa8-4821-87a0-4729ff977e43",
      "name": "⏭️ Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Kaze-nomi",
          "mode": "list",
          "cachedResultName": "Kaze-nomi",
          "cachedResultUrl": "https://github.com/Kaze-nomi"
        },
        "repository": {
          "__rl": true,
          "value": "MultiAgentIntelligentSystem",
          "mode": "list",
          "cachedResultName": "MultiAgentIntelligentSystem",
          "cachedResultUrl": "https://github.com/Kaze-nomi/MultiAgentIntelligentSystem"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        112
      ],
      "id": "9805ef31-d394-4ce6-8336-66ccd24e3b75",
      "name": "Github Trigger",
      "webhookId": "18b11740-219a-4056-8988-c29d6727a2ec",
      "credentials": {
        "githubApi": {
          "id": "EuDjNHcUwsanYUOc",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "📋 Parse PR Data": {
      "main": [
        [
          {
            "node": "🔀 Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Should Process?": {
      "main": [
        [
          {
            "node": "📄 Get Changed Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏭️ Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Get Changed Files": {
      "main": [
        [
          {
            "node": "🔍 Filter Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter Files": {
      "main": [
        [
          {
            "node": "📄 Split Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Split Files": {
      "main": [
        [
          {
            "node": "📥 Fetch File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch File Content": {
      "main": [
        [
          {
            "node": "📦 Aggregate Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Aggregate Contents": {
      "main": [
        [
          {
            "node": "🤖 Call Project Manager Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Call Project Manager Review": {
      "main": [
        [
          {
            "node": "📱 Format Review Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📱 Format Review Message": {
      "main": [
        [
          {
            "node": "📝 Create GitHub Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Create GitHub Review": {
      "main": [
        [
          {
            "node": "✅ End Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "📋 Parse PR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4108043d-5049-40f2-8ffe-ebe70044b0c0",
  "meta": {
    "instanceId": "28f87a46502090a63d81c1b0d194b30cb85aa507eb30004f35c39d5a49ec1f61"
  },
  "id": "2PllI6JEDfONeDAB",
  "tags": []
}

